# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
ArkEngine/.vs/ArkEngine/FileContentIndex/e9ce662b-23d1-40fd-8c32-87ffe18a0a0e.vsidx
ArkEngine/.vs/ArkEngine/v17/ipch/AutoPCH/b3267de5c03e3b1f/MAIN.ipch
/ArkEngine/.vs/ArkEngine/v17/ipch
